name: Build

on:
  push:
    branches:
      - main


jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

      - name: install trivy
        run: |
            #install trivy
            sudo apt-get install wget apt-transport-https gnupg lsb-release -y
            wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | gpg --dearmor | sudo tee /usr/share/keyrings/trivy.gpg > /dev/null
            echo "deb [signed-by=/usr/share/keyrings/trivy.gpg] https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main" | sudo tee -a /etc/apt/sources.list.d/trivy.list
            sudo apt-get update
            sudo apt-get install trivy -y
            #command to scan files
            trivy fs .

      - name: Docker build and push
        run: |
            #run commands to build and docker images
            docker build --build-arg TMDB_V3_API_KEY=33c5ae1148adc13c1cdcc964e6417050 -t netflix .
            docker tag netflix nvnprsthdockerhub/netflix:latest
            docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
            docker push nvnprsthdockerhub/netflix:latest

        env:
            DOCKER_CLI_ACI: 1

  deploy:    
#    needs: build-analyze-scan  
    runs-on: [aws-netflix]  
    steps:
      - name: Pull the docker image
        run: docker pull nvnprsthdockerhub/netflix:latest
#      - name: Trivy image scan
#        run: trivy image nvnprsthdockerhub/netflix:latest
      - name: Run the container netflix
        run: docker run -d --name netflix -p 8081:80 nvnprsthdockerhub/netflix:latest
              
